@font-face /*perintah untuk memanggil font eksternal*/ {
  font-family: "japanese"; /*memberikan nama bebas untuk font*/
  src: url("Font/manga-temple/mangat.ttf"); /*memanggil file font eksternalnya di folder nexa*/
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 960px;
  background-color: rgb(255, 213, 220);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr 1fr 1fr 0.2fr;
  grid-template-areas: 
    "header header header header header"
    "search search search search nav"
    "item1 item2 item3 item4 item5"
    "item6 item7 item8 item9 item10"
    "footer footer footer footer footer";
}
header{
  height: 80px;
  width: 400px;
  border-radius: 50px;
  text-align: left;
  margin: 10px;
  font-family: japanese;
  grid-area: header;
  background-color: pink;
}
.search{
  grid-area: search;
}
.search-box{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 30px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover > .search-txt{
  width: 200px;
  padding: 0 0px;
}
.search-box:hover > .search-btn{
  background: pink;
  color: #2f3640;
}
.search-box a{
  text-decoration: none;
}
.search-btn{
  color: pink;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt{
  border: none;
  background: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 15px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}
a#about{
  grid-area: nav;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  font-weight: 800;
  text-align: right;
  margin-right: 10px;
  text-decoration: none;
  color: #e91f63;
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}
a#about span{
  color: black;
}
.item1{
  grid-area: item1;
}
.item2{
  grid-area: item2;
}
.item3{
  grid-area: item3;
}
.item4{
  grid-area: item4;
}
.item5{
  grid-area: item5;
}
.item6{
  grid-area: item6;
}
.item7{
  grid-area: item7;
}
.item8{
  grid-area: item8;
}
.item9{
  grid-area: item9;
}
.item10{
  grid-area: item10;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10{
  margin: 8px;
  background-color: white;
}
img#waifu{
  width: 200px;
  height: 220px;
  margin: 20px;
}
a#waifu{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
}

footer{
  margin-top: 20px;
  grid-area: footer;
  background: rgb(255, 168, 182);
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: rgb(0, 0, 0);
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-family: japanese;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  margin-top: -10px;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  margin-left: -40px;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: white;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: black;
}

.footer-bottom{
  background: rgb(250, 130, 150);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
@media only screen and (max-width: 570px){
  body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 213, 220);
  }
  .container{
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "header"
      "search"
      "nav"
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8"
      "item9"
      "item10"
      "footer";
  }
  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10{
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 240px;
    background-color: white;
  }
  header{
    margin: 10px auto;
  }
  .search-box{
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  a#about{
    margin: auto;
    margin-top: 80px;
  }
}