*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(pink, rgb(255, 87, 115));
    overflow: hidden;
}
.app-container{
    height: 650px;
    width: 370px;
    background-image: linear-gradient(pink, rgb(255, 217, 223));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.top-box{
    height: 150px;
    background-color: rgb(255, 152, 169);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.top-box p{
    text-align: center;
    padding-top: 20px;
    color: #fff;
}
.top-box p a{
    text-decoration: none;
    color: #fff;
}
.left-icon{
    float: left;
    margin-left: 30px;
}
.right-icon{
    float: right;
    margin-right: 30px;
}
.middle-box{
    height: 150px;
    background-image: linear-gradient(pink,rgb(255, 152, 169));
    margin: -70px 30px 20px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
}
.middle-box h1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: normal;
}
.middle-box h1 span{
    font-size: 20px;
    margin-left: 5px;
    bottom: 18px;
    position: relative;
}

.payment-option-btn{
    color: #fff;
    margin: 5px 40px;
    height: 30px;
    width: 290px;
    background-color: rgb(255, 152, 169);
    border: none;
    cursor: pointer;
}
.card-details{
    background: #fff;
    color: #555;
    margin: 10px 30px;
    padding: 10px;
}
.card-details p{
    font-size: 14px;
}
.card-details label{
    font-size: 10px;
    line-height: 20px;
}
.card-num-field-group{
    margin-top: 10px;
}
.date-field-group{
    margin-top: 10px;
    display: inline-block;
}
.cvc-field-group{
    margin-top: 10px;
    float: right;
}
.name-field-group{
    margin-top: 10px;
}
.card-num-field, .name-field{
    width: 280px;
}
.date-field, .cvc-field{
    width: 80px;
}
.card-details input{
    border: 1px solid #ccc;
    height: 22px;
    padding: 5px;
    font-size: 10px;
}
.card-detail input::placeholder{
    color: #ccc;
}
.pay-btn{
    width: 280px;
    color: #fff;
    margin-top: 20px;
    margin-left: 5px;
    height: 30px;
    background-color: rgb(255, 87, 115);
    border: none;
    cursor: pointer;
}
.pay-btn:hover{
    background-color: greenyellow;
}
.glowing
{
    position: relative;
    min-width: 750px;
    height: 750px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}
.glowing:nth-child(even)
{
    transform-origin: left;
}
@keyframes colorChange {
    0%
    {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}
.glowing span
{
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}
.glowing span:before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}
.glowing span:nth-child(3n + 1):before
{
    background: rgba(134, 255, 0, 1);
    box-shadow: 0 0 20px rgba(134, 255, 0, 1),
                0 0 40px rgba(134, 255, 0, 1),
                0 0 60px rgba(134, 255, 0, 1),
                0 0 80px rgba(134, 255, 0, 1),
                0 0 0 8px rgba(134, 255, 0, .1);           
}
.glowing span:nth-child(3n + 2):before
{
    background: rgba(255, 214, 0, 1);
    box-shadow: 0 0 20px rgba(255, 214, 0, 1),
                0 0 40px rgba(255, 214, 0, 1),
                0 0 60px rgba(255, 214, 0, 1),
                0 0 80px rgba(255, 214, 0, 1),
                0 0 0 8px rgba(255, 214, 0, .1);           
}
.glowing span:nth-child(3n + 3):before
{
    background: rgba(0, 226, 255, 1);
    box-shadow: 0 0 20px rgba(0, 226, 255, 1),
                0 0 40px rgba(0, 226, 255, 1),
                0 0 60px rgba(0, 226, 255, 1),
                0 0 80px rgba(0, 226, 255, 1),
                0 0 0 8px rgba(0, 226, 255, .1);           
}
.glowing span:nth-child(3n + 1)
{
    animation: animate 10s alternate infinite;
}
.glowing span:nth-child(3n + 2)
{
    animation: animate-reverse 3s alternate infinite;
}
.glowing span:nth-child(3n + 3)
{
    animation: animate 8s alternate infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes animate-reverse
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(180deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    75% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
  
    25% {
      height: 0%;
    }
  
    50% {
      height: 100%;
    }
  
    75% {
      height: 100%;
    }
  
    100% {
      height: 0%;
    }
}
input:focus{
    background-color: #ccc;
    border-color: pink;
}
input:required:invalid,
input:focus:invalid,
input:required:valid,input{
    background-position: 99% center;
    background-repeat: no-repeat;
}
select:focus,
input:focus {
    border-color: pink;
    outline: 0;
}
input:required:invalid, input:focus:invalid{
    background-image: url("/Photo/NSaK8yt\ -\ Imgur.png");
}
input:required:valid{
    background-image: url("/Photo/ttb7yp4\ -\ Imgur.png");
}
@media only screen and (max-width: 570px){
    .app-container{
        margin-top: 100px;
    }
}